:root {
  --secondary: #d2b7eb;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #b7ebeb;
  font-family: 'Montserrat', sans-serif;
  
}

main{
  margin: auto;
  padding: 1em;
  width: 50vw;
  background-color: white;
  border-radius: 1em;
  margin-top: 5em;
  margin-bottom: 5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3,
form{
  text-align:center;
}

h3{
  color: var(--secondary);
  font-size: 2em;
  text-transform: uppercase;
}

label{
  font-weight: bold;
  text-transform: uppercase;
}

input{
  margin: 1em;
  width: 40px;
  height: 30px;
}

.btn{
  background-color: var(--secondary);;
  color: white;
  border: none;
  text-decoration: none;
  padding: 10px;
  border-radius: .5em;
  text-transform: uppercase;
}

.lorem-text{
  padding: 2em;
  text-align: justify;
}